/*
Veracode Dynamic Flaw API

Replacement for https://analysiscenter.veracode.com/api/5.0/getdynamicflaws.do

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dynamic_flaw

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiAppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	appGuid string
	issueId string
}

func (r ApiAppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetRequest) Execute() (*DynamicFlaw, *http.Response, error) {
	return r.ApiService.AppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetExecute(r)
}

/*
AppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGet Returns information on a specific dynamic flaw.

Returns detailed information about a single dynamic flaw, including the CWE, description, recommendation, and associated HTTP requests.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appGuid GUID for the application.
 @param issueId Unique issue ID for the scanned application.
 @return ApiAppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetRequest
*/
func (a *DefaultAPIService) AppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGet(ctx context.Context, appGuid string, issueId string) ApiAppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetRequest {
	return ApiAppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetRequest{
		ApiService: a,
		ctx: ctx,
		appGuid: appGuid,
		issueId: issueId,
	}
}

// Execute executes the request
//  @return DynamicFlaw
func (a *DefaultAPIService) AppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetExecute(r ApiAppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGetRequest) (*DynamicFlaw, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DynamicFlaw
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AppsecV2ApplicationsAppGuidFindingsIssueIdDynamicFlawInfoGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/appsec/v2/applications/{app_guid}/findings/{issue_id}/dynamic_flaw_info"
	localVarPath = strings.Replace(localVarPath, "{"+"app_guid"+"}", url.PathEscape(parameterValueToString(r.appGuid, "appGuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"issue_id"+"}", url.PathEscape(parameterValueToString(r.issueId, "issueId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 504 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
