/*
Veracode Static Finding Data Path API

Replacement for https://analysiscenter.veracode.com/api/5.0/getcallstacks.do

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package static_finding_data_path

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// StaticFlawDataPathsInformationAPIService StaticFlawDataPathsInformationAPI service
type StaticFlawDataPathsInformationAPIService service

type ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest struct {
	ctx        context.Context
	ApiService *StaticFlawDataPathsInformationAPIService
	appGuid    string
	issueId    string
	context    *string
}

// If specified, the ID of the development sandbox to which this finding belongs.
func (r ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest) Context(context string) ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest {
	r.context = &context
	return r
}

func (r ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest) Execute() (*StaticFlaws, *http.Response, error) {
	return r.ApiService.AppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetExecute(r)
}

/*
AppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGet Returns information on the data path for a static analysis finding.

Returns detailed data path information on a static analysis finding, including module name, filepath, function name, and code line numbers.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param appGuid GUID for the application.
	@param issueId Flaw ID of the finding.
	@return ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest
*/
func (a *StaticFlawDataPathsInformationAPIService) AppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGet(ctx context.Context, appGuid string, issueId string) ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest {
	return ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest{
		ApiService: a,
		ctx:        ctx,
		appGuid:    appGuid,
		issueId:    issueId,
	}
}

// Execute executes the request
//
//	@return StaticFlaws
func (a *StaticFlawDataPathsInformationAPIService) AppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetExecute(r ApiAppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGetRequest) (*StaticFlaws, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StaticFlaws
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StaticFlawDataPathsInformationAPIService.AppsecV2ApplicationsAppGuidFindingsIssueIdStaticFlawInfoGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/appsec/v2/applications/{app_guid}/findings/{issue_id}/static_flaw_info"
	localVarPath = strings.Replace(localVarPath, "{"+"app_guid"+"}", url.PathEscape(parameterValueToString(r.appGuid, "appGuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"issue_id"+"}", url.PathEscape(parameterValueToString(r.issueId, "issueId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.context != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context", r.context, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
