/*
Veracode Policy API Specification

Veracode Policy API Documentation Use one of the following base URLs depending on the region for your account: * https://api.veracode.com/ - Veracode Global Region (default) * https://api.veracode.eu/ - Veracode European Region * https://api.veracode.us/ - Veracode US Federal Region

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package policy

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// SCAComponentLicenseInformationAPIAPIService SCAComponentLicenseInformationAPIAPI service
type SCAComponentLicenseInformationAPIAPIService service

type ApiGetScaLicensesUsingGETRequest struct {
	ctx        context.Context
	ApiService *SCAComponentLicenseInformationAPIAPIService
	page       *int32
	size       *int32
	sort       *string
}

func (r ApiGetScaLicensesUsingGETRequest) Page(page int32) ApiGetScaLicensesUsingGETRequest {
	r.page = &page
	return r
}

func (r ApiGetScaLicensesUsingGETRequest) Size(size int32) ApiGetScaLicensesUsingGETRequest {
	r.size = &size
	return r
}

func (r ApiGetScaLicensesUsingGETRequest) Sort(sort string) ApiGetScaLicensesUsingGETRequest {
	r.sort = &sort
	return r
}

func (r ApiGetScaLicensesUsingGETRequest) Execute() (*PagedResourceOfScaLicenseSummary, *http.Response, error) {
	return r.ApiService.GetScaLicensesUsingGETExecute(r)
}

/*
GetScaLicensesUsingGET Get a list of component licenses for SCA.

Returns a list component licenses associated with SCA security policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetScaLicensesUsingGETRequest
*/
func (a *SCAComponentLicenseInformationAPIAPIService) GetScaLicensesUsingGET(ctx context.Context) ApiGetScaLicensesUsingGETRequest {
	return ApiGetScaLicensesUsingGETRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PagedResourceOfScaLicenseSummary
func (a *SCAComponentLicenseInformationAPIAPIService) GetScaLicensesUsingGETExecute(r ApiGetScaLicensesUsingGETRequest) (*PagedResourceOfScaLicenseSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResourceOfScaLicenseSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCAComponentLicenseInformationAPIAPIService.GetScaLicensesUsingGET")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/appsec/v1/policy_licenselist"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
