openapi: 3.0.1
info:
  contact: {}
  description: |-
    Veracode Policy API Documentation
    Use one of the following base URLs depending on the region for your account:
    * https://api.veracode.com/ - Veracode Global Region (default)
    * https://api.veracode.eu/ - Veracode European Region
    * https://api.veracode.us/ - Veracode US Federal Region
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  termsOfService: urn:tos
  title: Veracode Policy API Specification
  version: "1.0"
servers:
- url: //api.veracode.com/
tags:
- description: Policy Settings Information API.
  name: Policy Settings information API
- description: Policy information API.
  name: Policy information API
- description: Policy Settings Controller.
  name: Policy settings information API
- description: List component software licenses associated with Veracode SCA security
    policies.
  name: SCA Component License Information API
paths:
  /appsec/v1/policies:
    get:
      deprecated: false
      description: Returns a list of policies. The individual policy has links to
        policy evaluations performed against this policy.
      operationId: getPoliciesUsingGET
      parameters:
      - allowEmptyValue: false
        description: The category of the policy.
        in: query
        name: category
        schema:
          enum:
          - APPLICATION
          - COMPONENT
          type: string
      - allowEmptyValue: false
        description: Filters results based on the ID of the custom policy created
          in the Veracode Platform.
        in: query
        name: legacy_policy_id
        schema:
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Filter on the policy name.
        in: query
        name: name
        schema:
          type: string
      - allowEmptyValue: false
        description: Use this flag to enforce exact name-matching when filtering on
          the policy name.
        in: query
        name: name_exact
        schema:
          type: boolean
      - allowEmptyValue: false
        description: Page number. Defaults to 0.
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Filters results to include or exclude a public Veracode policy.
        in: query
        name: public_policy
        schema:
          default: true
          type: boolean
      - allowEmptyValue: false
        description: "Page size (1-500, defaults to 50)."
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Filters results to those with or without a vendor policy flag.
        in: query
        name: vendor_policy
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedResourceOfPolicyVersion"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: getPolicies
      tags:
      - Policy information API
    post:
      deprecated: false
      description: Create and return the new policy.
      operationId: createPolicyUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicyVersion"
        description: The policy object to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyVersion"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Create a new policy.
      tags:
      - Policy information API
      x-codegen-request-body-name: policy
  /appsec/v1/policies/{policyGuid}:
    delete:
      deprecated: false
      description: Delete the policy. This deletion only succeeds if the policy is
        not associated with any applications or policy evaluations.
      operationId: deletePolicyUsingDELETE
      parameters:
      - description: The unique identifier of the policy (GUID).
        in: path
        name: policyGuid
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: "Replace with the default policy, based on the business criticality\
          \ of the application."
        in: query
        name: replace_with_default_policy
        schema:
          default: false
          type: boolean
      - allowEmptyValue: false
        description: The unique identifier of the replacement policy (GUID).
        in: query
        name: replacement_GUID
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Delete all versions of the policy.
      tags:
      - Policy information API
    get:
      deprecated: false
      description: Returns the latest version of the policy.
      operationId: getPolicyUsingGET
      parameters:
      - description: The unique identifier of the policy (GUID).
        in: path
        name: policyGuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyVersion"
          description: You have successfully submitted your request.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: The policy was not found.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: getPolicy
      tags:
      - Policy information API
    put:
      deprecated: false
      description: Creates a new version of the policy that is the default when making
        a GET call to this endpoint.
      operationId: updatePolicyUsingPUT
      parameters:
      - description: The unique identifier of the policy (GUID).
        in: path
        name: policyGuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicyVersion"
        description: The new policy version to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyVersion"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Update the policy.
      tags:
      - Policy information API
      x-codegen-request-body-name: policy
  /appsec/v1/policies/{policyGuid}/versions:
    get:
      deprecated: false
      description: Returns a list of all versions of the policy. Past versions of
        the policy that are not currently linked to an application or evaluation are
        deleted and do not appear in this list.
      operationId: getPolicyVersionsUsingGET
      parameters:
      - allowEmptyValue: false
        description: Page number. Defaults to 0.
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: The unique identifier of the policy (GUID).
        in: path
        name: policyGuid
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Page size (1-500). Defaults to 50.
        in: query
        name: size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedResourceOfPolicyVersion"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: getPolicyVersions
      tags:
      - Policy information API
  /appsec/v1/policies/{policyGuid}/versions/{version}:
    get:
      deprecated: false
      description: Returns the requested policy version.
      operationId: getPolicyVersionUsingGET
      parameters:
      - description: The unique identifier of the policy (GUID).
        in: path
        name: policyGuid
        required: true
        schema:
          type: string
      - description: The specific version of this policy. The default is the last
          version provided.
        in: path
        name: version
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyVersion"
          description: You have successfully submitted your request.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: getPolicyVersion
      tags:
      - Policy information API
  /appsec/v1/policy_settings:
    get:
      deprecated: false
      operationId: getPolicySettingsUsingGET
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedResourceOfPolicySetting"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Retrieve the application policy Settings
      tags:
      - Policy settings information API
    put:
      deprecated: false
      description: Updates the application default policy setting for a business criticality
        for the organization.
      operationId: updatePolicySettingsUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PolicySetting"
              type: array
        description: Application policy settings that you are updating.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PolicySetting"
                type: array
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Update the application policy settings.
      tags:
      - Policy settings information API
      x-codegen-request-body-name: policySettings
  /appsec/v1/policy_settings/components:
    get:
      deprecated: false
      operationId: getComponentsUsingGET
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedResourceOfComponentPolicySetting"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Retrieve the default pre-build component policies.
      tags:
      - Policy settings information API
    put:
      deprecated: false
      description: Updates the pre-build component default policies of an organization.
      operationId: updateComponentsUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/ComponentPolicySetting"
              type: array
        description: Pre-build component policy settings that you are updating.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentPolicySetting"
                type: array
          description: Your request was successful.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Update the default pre-build component policies.
      tags:
      - Policy settings information API
      x-codegen-request-body-name: componentPolicySettings
  /appsec/v1/policy_settings/thirdparty_libraries:
    get:
      deprecated: false
      operationId: getThirdpartyLibrariesUsingGET
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedResourceOfComponentPolicySetting"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Retrieve the default pre-build component policies.
      tags:
      - Policy settings information API
    put:
      deprecated: false
      description: Updates the pre-build component default policies of an organization.
      operationId: updateThirdpartyLibrariesUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/ComponentPolicySetting"
              type: array
        description: Pre-build component policy settings that you are updating.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentPolicySetting"
                type: array
          description: Your request was successful.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Update the default pre-build component policies.
      tags:
      - Policy settings information API
      x-codegen-request-body-name: componentPolicySettings
  /appsec/v1/policy_licenselist:
    get:
      description: Returns a list component licenses associated with SCA security
        policies.
      operationId: getScaLicensesUsingGET
      parameters:
      - in: query
        name: page
        schema:
          format: int32
          type: integer
      - in: query
        name: size
        schema:
          format: int32
          type: integer
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedResourceOfScaLicenseSummary"
          description: You have successfully submitted your request.
        "400":
          content: {}
          description: Invalid request. Verify all the components of your request
            and try again.
        "401":
          content: {}
          description: You are not authorized to perform this action.
        "403":
          content: {}
          description: Access denied. You are not authorized to make this request.
        "404":
          content: {}
          description: This page does not exist. Verify the URI and try again.
        "429":
          content: {}
          description: Request limit exceeded. You have sent too many requests in
            a single time period. Submit your request again later.
        "500":
          content: {}
          description: Server-side error. Please try again later.
      summary: Get a list of component licenses for SCA.
      tags:
      - SCA Component License Information API
components:
  schemas:
    ComponentPolicySetting:
      example:
        plugin: nexus
        modified_by: modified_by
        modified: 2000-01-23T04:56:07.000+00:00
        policy_guid: policy_guid
      properties:
        modified:
          description: The date and time when the pre-build component default policy
            setting was modified. The date and time format is per RFC3339 and ISO-8601.
            Timezone is UTC.
          format: date-time
          type: string
        modified_by:
          description: Name of the user who most recently modified the pre-build component
            default policy setting.
          type: string
        plugin:
          description: Plugin
          enum:
          - nexus
          type: string
        policy_guid:
          description: Unique identifier for the pre-build component policy.
          type: string
      title: ComponentPolicySetting
      type: object
    Coordinate:
      example:
        repo_type: repo_type
        coordinate2: coordinate2
        finding_rule: null
        coordinate1: coordinate1
        created_date: 2000-01-23T04:56:07.000+00:00
        created_by: created_by
        version: version
      properties:
        coordinate1:
          description: The name of the first coordinate.
          type: string
        coordinate2:
          description: The name of the second coordinate.
          type: string
        created_by:
          description: The name of the user who created this coordinate.
          type: string
        created_date:
          description: The date when the user created the coordinate.
          format: date-time
          type: string
        finding_rule:
          $ref: "#/components/schemas/FindingRule"
        repo_type:
          description: "The repository type of the coordinate; for example, nexus,\
            \ or maven."
          type: string
        version:
          description: The version of the coordinate.
          type: string
      title: Coordinate
      type: object
    CustomSeverity:
      example:
        cwe: 0
        severity: 6
      properties:
        cwe:
          description: The CWE associated with the custom severity.
          format: int32
          type: integer
        severity:
          description: The severity to be applied to findings of the specified CWE.
          format: int32
          type: integer
      title: CustomSeverity
      type: object
    EmbeddedComponentPolicySetting:
      example:
        component_policy_settings:
        - plugin: nexus
          modified_by: modified_by
          modified: 2000-01-23T04:56:07.000+00:00
          policy_guid: policy_guid
        - plugin: nexus
          modified_by: modified_by
          modified: 2000-01-23T04:56:07.000+00:00
          policy_guid: policy_guid
      properties:
        component_policy_settings:
          items:
            $ref: "#/components/schemas/ComponentPolicySetting"
          type: array
      title: EmbeddedComponentPolicySetting
      type: object
    EmbeddedPolicySetting:
      example:
        policy_settings:
        - business_criticality: VERY_HIGH
          modified: 2000-01-23T04:56:07.000+00:00
          policy_guid: policy_guid
        - business_criticality: VERY_HIGH
          modified: 2000-01-23T04:56:07.000+00:00
          policy_guid: policy_guid
      properties:
        policy_settings:
          items:
            $ref: "#/components/schemas/PolicySetting"
          type: array
      title: EmbeddedPolicySetting
      type: object
    EmbeddedPolicyVersion:
      example:
        policy_versions:
        - sev0_grace_period: 6
          created: 2000-01-23T04:56:07.000+00:00
          score_grace_period: 1
          sev4_grace_period: 5
          custom_severities:
          - cwe: 0
            severity: 6
          - cwe: 0
            severity: 6
          description: description
          sev3_grace_period: 4
          sev2_grace_period: 1
          type: BUILTIN
          sev1_grace_period: 7
          version: 9
          sca_blacklist_grace_period: 1
          finding_rules:
          - policy_version: null
            coordinates:
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            scan_type:
            - STATIC
            - STATIC
            type: FAIL_ALL
            advanced_options:
              selected_licenses:
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              allowed_nonoss_licenses: true
              is_blocklist: true
              finding_rule: null
              all_licenses_must_meet_requirement: true
            value: value
          - policy_version: null
            coordinates:
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            scan_type:
            - STATIC
            - STATIC
            type: FAIL_ALL
            advanced_options:
              selected_licenses:
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              allowed_nonoss_licenses: true
              is_blocklist: true
              finding_rule: null
              all_licenses_must_meet_requirement: true
            value: value
          vendor_policy: true
          organization_id: 1
          sca_grace_periods:
            sca_blacklist_grace_period: 1
            license_risk_grace_period: 5
            cvss_score_grace_period:
            - upper: 2.027123023002322
              lower: 4.145608029883936
              days: 7
            - upper: 2.027123023002322
              lower: 4.145608029883936
              days: 7
            severity_grace_period:
              sev0_grace_period: 5
              sev4_grace_period: 3
              sev3_grace_period: 9
              sev2_grace_period: 7
              sev1_grace_period: 2
          modified_by: modified_by
          name: name
          sev5_grace_period: 9
          guid: guid
          category: APPLICATION
          evaluation_date: 2000-01-23T04:56:07.000+00:00
          evaluation_date_type: BEFORE
          scan_frequency_rules:
          - policy_version: null
            scan_type: STATIC
            frequency: NOT_REQUIRED
          - policy_version: null
            scan_type: STATIC
            frequency: NOT_REQUIRED
        - sev0_grace_period: 6
          created: 2000-01-23T04:56:07.000+00:00
          score_grace_period: 1
          sev4_grace_period: 5
          custom_severities:
          - cwe: 0
            severity: 6
          - cwe: 0
            severity: 6
          description: description
          sev3_grace_period: 4
          sev2_grace_period: 1
          type: BUILTIN
          sev1_grace_period: 7
          version: 9
          sca_blacklist_grace_period: 1
          finding_rules:
          - policy_version: null
            coordinates:
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            scan_type:
            - STATIC
            - STATIC
            type: FAIL_ALL
            advanced_options:
              selected_licenses:
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              allowed_nonoss_licenses: true
              is_blocklist: true
              finding_rule: null
              all_licenses_must_meet_requirement: true
            value: value
          - policy_version: null
            coordinates:
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            - repo_type: repo_type
              coordinate2: coordinate2
              finding_rule: null
              coordinate1: coordinate1
              created_date: 2000-01-23T04:56:07.000+00:00
              created_by: created_by
              version: version
            scan_type:
            - STATIC
            - STATIC
            type: FAIL_ALL
            advanced_options:
              selected_licenses:
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              - full_name: full_name
                name: name
                risk: risk
                spdx_id: spdx_id
                url: url
              allowed_nonoss_licenses: true
              is_blocklist: true
              finding_rule: null
              all_licenses_must_meet_requirement: true
            value: value
          vendor_policy: true
          organization_id: 1
          sca_grace_periods:
            sca_blacklist_grace_period: 1
            license_risk_grace_period: 5
            cvss_score_grace_period:
            - upper: 2.027123023002322
              lower: 4.145608029883936
              days: 7
            - upper: 2.027123023002322
              lower: 4.145608029883936
              days: 7
            severity_grace_period:
              sev0_grace_period: 5
              sev4_grace_period: 3
              sev3_grace_period: 9
              sev2_grace_period: 7
              sev1_grace_period: 2
          modified_by: modified_by
          name: name
          sev5_grace_period: 9
          guid: guid
          category: APPLICATION
          evaluation_date: 2000-01-23T04:56:07.000+00:00
          evaluation_date_type: BEFORE
          scan_frequency_rules:
          - policy_version: null
            scan_type: STATIC
            frequency: NOT_REQUIRED
          - policy_version: null
            scan_type: STATIC
            frequency: NOT_REQUIRED
      properties:
        policy_versions:
          items:
            $ref: "#/components/schemas/PolicyVersion"
          type: array
      title: EmbeddedPolicyVersion
      type: object
    EmbeddedScaLicenseSummary:
      example:
        sca_license_summaries:
        - full_name: full_name
          name: name
          risk: risk
          spdx_id: spdx_id
          url: url
        - full_name: full_name
          name: name
          risk: risk
          spdx_id: spdx_id
          url: url
      properties:
        sca_license_summaries:
          items:
            $ref: "#/components/schemas/ScaLicenseSummary"
          type: array
      title: EmbeddedScaLicenseSummary
      type: object
    FindingRule:
      example:
        policy_version: null
        coordinates:
        - repo_type: repo_type
          coordinate2: coordinate2
          finding_rule: null
          coordinate1: coordinate1
          created_date: 2000-01-23T04:56:07.000+00:00
          created_by: created_by
          version: version
        - repo_type: repo_type
          coordinate2: coordinate2
          finding_rule: null
          coordinate1: coordinate1
          created_date: 2000-01-23T04:56:07.000+00:00
          created_by: created_by
          version: version
        scan_type:
        - STATIC
        - STATIC
        type: FAIL_ALL
        advanced_options:
          selected_licenses:
          - full_name: full_name
            name: name
            risk: risk
            spdx_id: spdx_id
            url: url
          - full_name: full_name
            name: name
            risk: risk
            spdx_id: spdx_id
            url: url
          allowed_nonoss_licenses: true
          is_blocklist: true
          finding_rule: null
          all_licenses_must_meet_requirement: true
        value: value
      properties:
        coordinates:
          items:
            $ref: "#/components/schemas/Coordinate"
          type: array
        policy_version:
          $ref: "#/components/schemas/PolicyVersion"
        scan_type:
          description: The type of scan on which to enforce the rule.
          items:
            enum:
            - STATIC
            - DYNAMIC
            - MANUAL
            - SCA
            - MOBILE
            - ALL
            - DYNAMICMP
            type: string
          type: array
        type:
          description: Specify the supported rule types.
          enum:
          - FAIL_ALL
          - CWE
          - CATEGORY
          - MAX_SEVERITY
          - CVSS
          - CVE
          - BLACKLIST
          - MIN_SCORE
          - SECURITY_STANDARD
          - LICENSE_RISK
          - ALLOWLIST
          type: string
        advanced_options:
          $ref: "#/components/schemas/FindingRuleAdvancedOptions"
        value:
          description: "The value of this specific rule, such as the minimal score\
            \ value. This value does not apply to the FAIL_ALL rule type."
          type: string
      title: FindingRule
      type: object
    Link:
      example:
        hreflang: hreflang
        templated: true
        rel: rel
        href: href
        media: media
        deprecation: deprecation
        title: title
        type: type
      properties:
        deprecation:
          type: string
          xml:
            attribute: true
            name: deprecation
            wrapped: false
        href:
          type: string
          xml:
            attribute: true
            name: href
            wrapped: false
        hreflang:
          type: string
          xml:
            attribute: true
            name: hreflang
            wrapped: false
        media:
          type: string
          xml:
            attribute: true
            name: media
            wrapped: false
        rel:
          type: string
          xml:
            attribute: true
            name: rel
            wrapped: false
        templated:
          type: boolean
        title:
          type: string
          xml:
            attribute: true
            name: title
            wrapped: false
        type:
          type: string
          xml:
            attribute: true
            name: type
            wrapped: false
      title: Link
      type: object
    PagedResourceOfComponentPolicySetting:
      example:
        _embedded:
          component_policy_settings:
          - plugin: nexus
            modified_by: modified_by
            modified: 2000-01-23T04:56:07.000+00:00
            policy_guid: policy_guid
          - plugin: nexus
            modified_by: modified_by
            modified: 2000-01-23T04:56:07.000+00:00
            policy_guid: policy_guid
      properties:
        _embedded:
          $ref: "#/components/schemas/EmbeddedComponentPolicySetting"
      title: PagedResourceOfComponentPolicySetting
      type: object
    PagedResourceOfPolicySetting:
      example:
        _embedded:
          policy_settings:
          - business_criticality: VERY_HIGH
            modified: 2000-01-23T04:56:07.000+00:00
            policy_guid: policy_guid
          - business_criticality: VERY_HIGH
            modified: 2000-01-23T04:56:07.000+00:00
            policy_guid: policy_guid
      properties:
        _embedded:
          $ref: "#/components/schemas/EmbeddedPolicySetting"
      title: PagedResourceOfPolicySetting
      type: object
    PagedResourceOfPolicyVersion:
      example:
        _embedded:
          policy_versions:
          - sev0_grace_period: 6
            created: 2000-01-23T04:56:07.000+00:00
            score_grace_period: 1
            sev4_grace_period: 5
            custom_severities:
            - cwe: 0
              severity: 6
            - cwe: 0
              severity: 6
            description: description
            sev3_grace_period: 4
            sev2_grace_period: 1
            type: BUILTIN
            sev1_grace_period: 7
            version: 9
            sca_blacklist_grace_period: 1
            finding_rules:
            - policy_version: null
              coordinates:
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              scan_type:
              - STATIC
              - STATIC
              type: FAIL_ALL
              advanced_options:
                selected_licenses:
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                allowed_nonoss_licenses: true
                is_blocklist: true
                finding_rule: null
                all_licenses_must_meet_requirement: true
              value: value
            - policy_version: null
              coordinates:
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              scan_type:
              - STATIC
              - STATIC
              type: FAIL_ALL
              advanced_options:
                selected_licenses:
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                allowed_nonoss_licenses: true
                is_blocklist: true
                finding_rule: null
                all_licenses_must_meet_requirement: true
              value: value
            vendor_policy: true
            organization_id: 1
            sca_grace_periods:
              sca_blacklist_grace_period: 1
              license_risk_grace_period: 5
              cvss_score_grace_period:
              - upper: 2.027123023002322
                lower: 4.145608029883936
                days: 7
              - upper: 2.027123023002322
                lower: 4.145608029883936
                days: 7
              severity_grace_period:
                sev0_grace_period: 5
                sev4_grace_period: 3
                sev3_grace_period: 9
                sev2_grace_period: 7
                sev1_grace_period: 2
            modified_by: modified_by
            name: name
            sev5_grace_period: 9
            guid: guid
            category: APPLICATION
            evaluation_date: 2000-01-23T04:56:07.000+00:00
            evaluation_date_type: BEFORE
            scan_frequency_rules:
            - policy_version: null
              scan_type: STATIC
              frequency: NOT_REQUIRED
            - policy_version: null
              scan_type: STATIC
              frequency: NOT_REQUIRED
          - sev0_grace_period: 6
            created: 2000-01-23T04:56:07.000+00:00
            score_grace_period: 1
            sev4_grace_period: 5
            custom_severities:
            - cwe: 0
              severity: 6
            - cwe: 0
              severity: 6
            description: description
            sev3_grace_period: 4
            sev2_grace_period: 1
            type: BUILTIN
            sev1_grace_period: 7
            version: 9
            sca_blacklist_grace_period: 1
            finding_rules:
            - policy_version: null
              coordinates:
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              scan_type:
              - STATIC
              - STATIC
              type: FAIL_ALL
              advanced_options:
                selected_licenses:
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                allowed_nonoss_licenses: true
                is_blocklist: true
                finding_rule: null
                all_licenses_must_meet_requirement: true
              value: value
            - policy_version: null
              coordinates:
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              - repo_type: repo_type
                coordinate2: coordinate2
                finding_rule: null
                coordinate1: coordinate1
                created_date: 2000-01-23T04:56:07.000+00:00
                created_by: created_by
                version: version
              scan_type:
              - STATIC
              - STATIC
              type: FAIL_ALL
              advanced_options:
                selected_licenses:
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                - full_name: full_name
                  name: name
                  risk: risk
                  spdx_id: spdx_id
                  url: url
                allowed_nonoss_licenses: true
                is_blocklist: true
                finding_rule: null
                all_licenses_must_meet_requirement: true
              value: value
            vendor_policy: true
            organization_id: 1
            sca_grace_periods:
              sca_blacklist_grace_period: 1
              license_risk_grace_period: 5
              cvss_score_grace_period:
              - upper: 2.027123023002322
                lower: 4.145608029883936
                days: 7
              - upper: 2.027123023002322
                lower: 4.145608029883936
                days: 7
              severity_grace_period:
                sev0_grace_period: 5
                sev4_grace_period: 3
                sev3_grace_period: 9
                sev2_grace_period: 7
                sev1_grace_period: 2
            modified_by: modified_by
            name: name
            sev5_grace_period: 9
            guid: guid
            category: APPLICATION
            evaluation_date: 2000-01-23T04:56:07.000+00:00
            evaluation_date_type: BEFORE
            scan_frequency_rules:
            - policy_version: null
              scan_type: STATIC
              frequency: NOT_REQUIRED
            - policy_version: null
              scan_type: STATIC
              frequency: NOT_REQUIRED
      properties:
        _embedded:
          $ref: "#/components/schemas/EmbeddedPolicyVersion"
      title: PagedResourceOfPolicyVersion
      type: object
    PagedResourceOfScaLicenseSummary:
      example:
        __links:
          hreflang: hreflang
          templated: true
          rel: rel
          href: href
          media: media
          deprecation: deprecation
          title: title
          type: type
        __embedded:
          sca_license_summaries:
          - full_name: full_name
            name: name
            risk: risk
            spdx_id: spdx_id
            url: url
          - full_name: full_name
            name: name
            risk: risk
            spdx_id: spdx_id
            url: url
      properties:
        __embedded:
          $ref: "#/components/schemas/EmbeddedScaLicenseSummary"
        __links:
          $ref: "#/components/schemas/Link"
      title: PagedResourceOfScaLicenseSummary
      type: object
    PolicyApplicableRules:
      properties:
        custom_severity:
          type: boolean
        finding_rules:
          items:
            enum:
            - FAIL_ALL
            - CWE
            - CATEGORY
            - MAX_SEVERITY
            - CVSS
            - CVE
            - BLACKLIST
            - MIN_SCORE
            - SECURITY_STANDARD
            - LICENSE_RISK
            - ALLOWLIST
            type: string
          type: array
        frequency_scan_types:
          items:
            enum:
            - STATIC
            - DYNAMIC
            - MANUAL
            - SCA
            - ANY
            type: string
          type: array
        grace_period_types:
          items:
            enum:
            - MINIMUM_SCAN_SCORE
            - COMPONENT_BLACKLIST_ENFORCEMENT
            - FINDING_BY_SEVERITY
            type: string
          type: array
        sca_only:
          type: boolean
      title: PolicyApplicableRules
      type: object
    PolicySetting:
      example:
        business_criticality: VERY_HIGH
        modified: 2000-01-23T04:56:07.000+00:00
        policy_guid: policy_guid
      properties:
        business_criticality:
          description: The business criticality for which this policy is the default
            policy.
          enum:
          - VERY_HIGH
          - HIGH
          - MEDIUM
          - LOW
          - VERY_LOW
          type: string
        modified:
          description: The date and time when the application default policy setting
            was modified. The date and time format is per RFC3339 and ISO-8601. Timezone
            is UTC.
          format: date-time
          type: string
        policy_guid:
          description: Unique identifier for the application policy.
          type: string
      title: PolicySetting
      type: object
    PolicyVersion:
      example:
        sev0_grace_period: 6
        created: 2000-01-23T04:56:07.000+00:00
        score_grace_period: 1
        sev4_grace_period: 5
        custom_severities:
        - cwe: 0
          severity: 6
        - cwe: 0
          severity: 6
        description: description
        sev3_grace_period: 4
        sev2_grace_period: 1
        type: BUILTIN
        sev1_grace_period: 7
        version: 9
        sca_blacklist_grace_period: 1
        finding_rules:
        - policy_version: null
          coordinates:
          - repo_type: repo_type
            coordinate2: coordinate2
            finding_rule: null
            coordinate1: coordinate1
            created_date: 2000-01-23T04:56:07.000+00:00
            created_by: created_by
            version: version
          - repo_type: repo_type
            coordinate2: coordinate2
            finding_rule: null
            coordinate1: coordinate1
            created_date: 2000-01-23T04:56:07.000+00:00
            created_by: created_by
            version: version
          scan_type:
          - STATIC
          - STATIC
          type: FAIL_ALL
          advanced_options:
            selected_licenses:
            - full_name: full_name
              name: name
              risk: risk
              spdx_id: spdx_id
              url: url
            - full_name: full_name
              name: name
              risk: risk
              spdx_id: spdx_id
              url: url
            allowed_nonoss_licenses: true
            is_blocklist: true
            finding_rule: null
            all_licenses_must_meet_requirement: true
          value: value
        - policy_version: null
          coordinates:
          - repo_type: repo_type
            coordinate2: coordinate2
            finding_rule: null
            coordinate1: coordinate1
            created_date: 2000-01-23T04:56:07.000+00:00
            created_by: created_by
            version: version
          - repo_type: repo_type
            coordinate2: coordinate2
            finding_rule: null
            coordinate1: coordinate1
            created_date: 2000-01-23T04:56:07.000+00:00
            created_by: created_by
            version: version
          scan_type:
          - STATIC
          - STATIC
          type: FAIL_ALL
          advanced_options:
            selected_licenses:
            - full_name: full_name
              name: name
              risk: risk
              spdx_id: spdx_id
              url: url
            - full_name: full_name
              name: name
              risk: risk
              spdx_id: spdx_id
              url: url
            allowed_nonoss_licenses: true
            is_blocklist: true
            finding_rule: null
            all_licenses_must_meet_requirement: true
          value: value
        vendor_policy: true
        organization_id: 1
        sca_grace_periods:
          sca_blacklist_grace_period: 1
          license_risk_grace_period: 5
          cvss_score_grace_period:
          - upper: 2.027123023002322
            lower: 4.145608029883936
            days: 7
          - upper: 2.027123023002322
            lower: 4.145608029883936
            days: 7
          severity_grace_period:
            sev0_grace_period: 5
            sev4_grace_period: 3
            sev3_grace_period: 9
            sev2_grace_period: 7
            sev1_grace_period: 2
        modified_by: modified_by
        name: name
        sev5_grace_period: 9
        guid: guid
        category: APPLICATION
        evaluation_date: 2000-01-23T04:56:07.000+00:00
        evaluation_date_type: BEFORE
        scan_frequency_rules:
        - policy_version: null
          scan_type: STATIC
          frequency: NOT_REQUIRED
        - policy_version: null
          scan_type: STATIC
          frequency: NOT_REQUIRED
      properties:
        category:
          description: The category of the policy.
          enum:
          - APPLICATION
          - COMPONENT
          type: string
        created:
          description: The date and time the application was created. The date/time
            is formatted as per RFC3339 and ISO-8601. The timezone is UTC.
          format: date-time
          type: string
        custom_severities:
          description: A set of severity overrides for use with this policy.
          items:
            $ref: "#/components/schemas/CustomSeverity"
          type: array
        description:
          description: A description of the policy.
          type: string
        evaluation_date:
          description: "The date from which to define the evaluation timeframe, which\
            \ determines when ﬁndings that violate rules should cause an application\
            \ to not pass policy."
          format: date-time
          type: string
        evaluation_date_type:
          description: Specify the supported evaluation date type as before or after
            the specified date.
          enum:
          - BEFORE
          - AFTER
          type: string
        finding_rules:
          description: A set of rules to be evaluated against the scan findings.
          items:
            $ref: "#/components/schemas/FindingRule"
          type: array
        sca_grace_periods:
          $ref: "#/components/schemas/ScaGracePeriods"
        guid:
          description: Unique identifier for the policy.
          type: string
        modified_by:
          description: The username of the user who most recently modified the policy.
          type: string
        name:
          description: Policy name.
          type: string
        organization_id:
          description: "The organization with which the policy is associated. If no\
            \ value is provided, the results are publicly visible."
          format: int32
          type: integer
        sca_blacklist_grace_period:
          description: The grace period in number of days permitted for the component
            blocklist enforcement rule type.
          format: int32
          type: integer
        scan_frequency_rules:
          description: The set of scan frequencies to be evaluated.
          items:
            $ref: "#/components/schemas/ScanFrequency"
          type: array
        score_grace_period:
          description: The number of days grace period allowed for the policy score.
          format: int32
          type: integer
        sev0_grace_period:
          description: The number of days grace period allowed for findings of severity
            0.
          format: int32
          type: integer
        sev1_grace_period:
          description: The number of days grace period allowed for findings of severity
            1.
          format: int32
          type: integer
        sev2_grace_period:
          description: The number of days grace period allowed for findings of severity
            2.
          format: int32
          type: integer
        sev3_grace_period:
          description: The number of days grace period allowed for findings of severity
            3.
          format: int32
          type: integer
        sev4_grace_period:
          description: The number of days grace period allowed for findings of severity
            4.
          format: int32
          type: integer
        sev5_grace_period:
          description: The number of days grace period allowed for findings of severity
            5.
          format: int32
          type: integer
        type:
          description: The evaluation policy type.
          enum:
          - BUILTIN
          - VERACODELEVEL
          - CUSTOMER
          - STANDARD
          type: string
        vendor_policy:
          description: Use this flag to indicate if this policy is to be visible and
            available for policy evaluation by a vendor organization.
          type: boolean
        version:
          description: The version of this policy.
          format: int32
          type: integer
      title: PolicyVersion
      type: object
    ScaGracePeriods:
      example:
        sca_blacklist_grace_period: 1
        license_risk_grace_period: 5
        cvss_score_grace_period:
        - upper: 2.027123023002322
          lower: 4.145608029883936
          days: 7
        - upper: 2.027123023002322
          lower: 4.145608029883936
          days: 7
        severity_grace_period:
          sev0_grace_period: 5
          sev4_grace_period: 3
          sev3_grace_period: 9
          sev2_grace_period: 7
          sev1_grace_period: 2
      properties:
        sca_blacklist_grace_period:
          description: The grace period in number of days permitted for the component
            blocklist enforcement rule type.
          format: int32
          type: integer
        license_risk_grace_period:
          description: The grace period in number of days permitted for the component
            license risk rule type.
          format: int32
          type: integer
        severity_grace_period:
          $ref: "#/components/schemas/SeverityGracePeriods"
        cvss_score_grace_period:
          description: The grace period in number of days permitted for the vulnerability
            CVSS score rule type.
          items:
            $ref: "#/components/schemas/CvssScoreGracePeriod"
          type: array
      title: ScaGracePeriods
      type: object
    SeverityGracePeriods:
      example:
        sev0_grace_period: 5
        sev4_grace_period: 3
        sev3_grace_period: 9
        sev2_grace_period: 7
        sev1_grace_period: 2
      properties:
        sev0_grace_period:
          description: The grace period in number of days permitted for findings with
            a severity of 0.
          format: int32
          type: integer
        sev1_grace_period:
          description: The grace period in number of days permitted for findings with
            a severity of 1.
          format: int32
          type: integer
        sev2_grace_period:
          description: The grace period in number of days permitted for findings with
            a severity of 2.
          format: int32
          type: integer
        sev3_grace_period:
          description: The grace period in number of days permitted for findings with
            a severity of 3.
          format: int32
          type: integer
        sev4_grace_period:
          description: The grace period in number of days permitted for findings with
            a severity of 4.
          format: int32
          type: integer
      title: SeverityGracePeriods
      type: object
    CvssScoreGracePeriod:
      example:
        upper: 2.027123023002322
        lower: 4.145608029883936
        days: 7
      properties:
        upper:
          description: The upper CVSS score limit for this grace period. Value must
            be between 0.0 and 10.0.
          format: Double
          type: number
        lower:
          description: The lower CVSS score limit for this grace period. Value must
            be between 0.0 and 10.0.
          type: number
        days:
          description: The grace period in number of days permitted for findings with
            a CVSS score within the range between the upper and lower CVSS score values.
          type: integer
      title: CvssScoreGracePeriod
      type: object
    ScanFrequency:
      example:
        policy_version: null
        scan_type: STATIC
        frequency: NOT_REQUIRED
      properties:
        frequency:
          description: The frequency by which the organization is required to scan.
          enum:
          - NOT_REQUIRED
          - ONCE
          - WEEKLY
          - MONTHLY
          - QUARTERLY
          - SEMI_ANNUALLY
          - ANNUALLY
          - EVERY_18_MONTHS
          - EVERY_2_YEARS
          - EVERY_3_YEARS
          - SET_BY_VL_POLICY
          - SET_BY_POLICY_RULE
          type: string
        policy_version:
          $ref: "#/components/schemas/PolicyVersion"
        scan_type:
          description: The type of scan on which to enforce the rule.
          enum:
          - STATIC
          - DYNAMIC
          - MANUAL
          - SCA
          - ANY
          type: string
      title: ScanFrequency
      type: object
    FindingRuleAdvancedOptions:
      example:
        selected_licenses:
        - full_name: full_name
          name: name
          risk: risk
          spdx_id: spdx_id
          url: url
        - full_name: full_name
          name: name
          risk: risk
          spdx_id: spdx_id
          url: url
        allowed_nonoss_licenses: true
        is_blocklist: true
        finding_rule: null
        all_licenses_must_meet_requirement: true
      properties:
        all_licenses_must_meet_requirement:
          description: Set to true to specify that component licenses must meet all
            policy rule requirements.
          type: boolean
        allowed_nonoss_licenses:
          description: Set to true to allow licenses that are not open-source (OSS).
          type: boolean
        finding_rule:
          $ref: "#/components/schemas/FindingRule"
        is_blocklist:
          description: Set to true to add the selected list of licenses to the blocklist.
          type: boolean
        selected_licenses:
          description: List all selected licenses.
          items:
            $ref: "#/components/schemas/ScaLicenseSummary"
          type: array
          uniqueItems: true
      title: FindingRuleAdvancedOptions
      type: object
    ScaLicenseSummary:
      example:
        full_name: full_name
        name: name
        risk: risk
        spdx_id: spdx_id
        url: url
      properties:
        full_name:
          description: Full name of the license.
          type: string
        name:
          description: Short name of the license.
          type: string
        risk:
          description: "Risk rating of the license. Values are Low, Medium, High,\
            \ or Unknown."
          type: string
        spdx_id:
          description: SPDX identifier for the license.
          type: string
        url:
          description: URL to the license on the spdx.org website.
          type: string
      required:
      - spdx_id
      title: ScaLicenseSummary
      type: object
x-original-swagger-version: "2.0"
